body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  max-width: 750px;
  margin: auto;
}

.content {
  height: calc(100vh - 120px);
  overflow-y: scroll;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #ffd8ec;
  text-align: center;
}

.header img {
  height: 70px;
  width: auto;
  padding: 10px;
}

.profile {
  height: 300px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.profile-image {
  display: block;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-wrapper {
  height: 200px;
  max-width: 50%;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
}

.tab-link {
  background-color: inherit;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 33%;
  height: 100%;
}

.tab-link.active,
.tab-link:focus {
  outline: none;
  border: none;
  color: #5a3698;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}

.tabcontent.active.grid {
  display: grid;
}

.grid {
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  justify-items: center;
}

.grid .post {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid .post-content {
  display: none;
}

.list .post {
  margin-bottom: 10px;
}

.post-image {
  max-width: 100%;
}

.post-content {
  padding: 10px;
}

.post-likes-icon {
  color: black;
  cursor: pointer;
  font-family: 'Glyphicons Halflings';
}

.post-likes-list {
  color: #5a3698;
}

 .post-time {
  color: #999;
}

.footer {
  width: 100%;
  height: 50px;
  background-color:#ffd8ec;
  color: white;
}